<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trolleyin</title>
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/foundation-icons/foundation-icons.css" />
    <link rel="stylesheet" href="css/flaticon/flaticon.css" />
    <link rel="stylesheet" href="bower_components/slider-pro/dist/css/slider-pro.min.css" />
    <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick-theme.css" />

    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <div class="full-width header-middle">
      <div class="row">
        <div class="small-3 columns">
          <div class="logo-wrapper">
            <div class="row">
              <div class="small-12 columns">
                <p class="text-center tight">
                  <img src="images/logo.png" alt="">
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="small-7 columns">
          <div class="row search-wrapper">
            <div class="small-12 columns">
              <div class="row collapse search-bar">
                <div class="small-10 columns">
                  <input type="text" placeholder="Search by Products, Brand or Category">
                </div>
                <div class="small-2 columns">
                   <a href="#" class="button postfix"><i class="fi-magnifying-glass"></i> Search</a>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="small-2 columns">
         <div class="row">
          <div class="small-5 columns">
            <ul class="login-list">

                <li>
                  <a href="">
                  <h4 class="tight text-center"><i class="fi-torso"></i> </h4>
                  <p class="text-center tight">Login</p></a>
                </li>
              </ul>
          </div>
           <div class="small-7 columns">
             <div class="row cart-wrapper">
               <h5 class="shop-cart text-center"><a href=""><i class="fi-shopping-cart"></i> Cart</a> <span class="label alert round">1</span></h5>
               <p class="tight text-center">Price - &#8377;0</a></p>
             </div>
           </div>
         </div>
        </div>
      </div>
    </div>
    <div class="full-width header-bottom">
      <div class="row collapse">
        <div class="small-3 columns">
          <h5 class="highlight left-header"><i class="flaticon-broccoli"></i> Vegetables</a></h5>
        </div>
        <div class="small-7 end columns">
          <ul class="main-menu">
            <li><a href="">CATEGORY 1</a></li>
            <li><a href="">CATEGORY 2</a></li>
            <li><a href="">CATEGORY 3</a></li>
            <li><a href="">CATEGORY 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="full-width content-top veg">
      <div class="row collapse">
        <div class="small-3 columns">
          <div class="row">
            <ul class="side-menu">
              <li class="sub-cat"><a href="">veg sub-cat 1</a></li>
              <li class="sub-cat"><a href="">veg sub-cat 1</a></li>
              <li class="sub-cat"><a href="">veg sub-cat 1</a></li>
              <li class="sub-cat"><a href="">veg sub-cat 1</a></li>
              <li class="sub-cat"><a href="">veg sub-cat 1</a></li>
              <li class="sub-cat"><a href="">veg sub-cat 1</a></li>
              <li class="sub-cat"><a href="">veg sub-cat 1</a></li>
              <li class="sub-cat"><a href="">veg sub-cat 1</a></li>
            </ul>
          </div>
          <div class="row collapse todays">
            <div class="small-12 columns">
              <h5 class="highlight">
                Todays Special
              </h5>
              <div class="row caro-wrapper collapse">
                  <div class="small-12 columns">
                    <div class="caro-prod">
                      <div class="row add-to-wrapper">
                        <div class="small-6 columns">
                          <p class="text-center add-to-cart tight"><button class="button warning">Add to Cart</button></p>
                        </div>
                        <div class="small-6 columns">
                          <p class="text-center buy-now"><button class="button success">Buy Now</button></p>
                        </div>
                      </div>
                      <div class="img-wrapper prod-img">
                        <p class="tight text-center">
                          <img src="images/fruits.jpg" alt="product-image">
                        </p>
                      </div>
                      
                      <p class="prod-title text-center tight">
                        Product1
                      </p>
                      <p class="text-center tight prod-desc">
                        This is desc
                      </p>
                      <div class="prod-det">
                        <div class="row">
                          <div class="small-6 columns">
                            <p class="prod-price tight">&#8377; 20</p>
                          </div>
                          <div class="small-6 columns prod-rating">
                            <p class="text-right tight">
                              <i class="fi-star"></i>
                              <i class="fi-star"></i>
                              <i class="fi-star"></i>
                              <i class="fi-star"></i>
                              <i class="fi-star"></i>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
               
              </div>
            </div>
          </div>
        </div>
        <div class="small-9 columns">
          <div class="product-grid-1">
            <div class="row">
              <div class="small-3 columns">
                <div class="product-wrapper">
                  <div class="row">
                    <div class="prod-image-wrapper">
                      <img src="images/products/apples.jpg" alt="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="prod-title">
                        <p class="tight title">Product 01</p>
                        <p class="micro tight">this is a description</p>
                    </div> 
                    <div class="prod-det">
                      <div class="small-6 columns">
                        <p class="tight prod-mrp">MRP &#8377;85</p>
                      </div>
                      <div class="small-6 columns">
                        <p class="tight prod-our-price text-right">
                          &#8377;80 
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="quantity-wrapper">
                      <div class="small-12 columns">
                        <div class="row collapse">
                          <div class="small-3 columns">
                            <label class="prefix">Qty</label>
                          </div>
                          <div class="small-9 columns">
                            <select name="" id="">
                              <option value="">.5 kg</option>
                              <option value="">1 kg</option>
                              <option value="">5 kg</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="small-12 columns">
                        <div class="row collapse qty-price-wrapper">
                          <div class="small-7 columns">
                            <p class="tight qty-price"><span class="price-num">&#8377;8,0000</span></p>
                          </div>
                          <div class="small-5 columns">
                            <p class="text-right tight">
                              <button class="button success tiny">Add <i class="fi-shopping-cart"></i></button>
                            </p>
                          </div>
                        </div>
                      </div>
                  </div>
                  </div>
                </div>
              </div>
              <div class="small-3 columns">
                <div class="product-wrapper">
                  <div class="row">
                    <div class="prod-image-wrapper">
                      <img src="images/products/chilli.jpg" alt="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="prod-title">
                        <p class="tight title">Product 01</p>
                        <p class="micro tight">this is a description</p>
                    </div> 
                    <div class="prod-det">
                      <div class="small-6 columns">
                        <p class="tight prod-mrp">MRP &#8377;85</p>
                      </div>
                      <div class="small-6 columns">
                        <p class="tight prod-our-price text-right">
                          &#8377;80 
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="quantity-wrapper">
                      <div class="small-12 columns">
                        <div class="row collapse">
                          <div class="small-3 columns">
                            <label class="prefix">Qty</label>
                          </div>
                          <div class="small-9 columns">
                            <select name="" id="">
                              <option value="">.5 kg</option>
                              <option value="">1 kg</option>
                              <option value="">5 kg</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="small-12 columns">
                        <div class="row collapse qty-price-wrapper">
                          <div class="small-7 columns">
                            <p class="tight qty-price"><span class="price-num">&#8377;8,0000</span></p>
                          </div>
                          <div class="small-5 columns">
                            <p class="text-right tight">
                              <button class="button success tiny">Add <i class="fi-shopping-cart"></i></button>
                            </p>
                          </div>
                        </div>
                      </div>
                  </div>
                  </div>
                </div>
              </div>
              <div class="small-3 columns">
                <div class="product-wrapper">
                  <div class="row">
                    <div class="prod-image-wrapper">
                      <img src="images/products/tomato.jpg" alt="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="prod-title">
                        <p class="tight title">Product 01</p>
                        <p class="micro tight">this is a description</p>
                    </div> 
                    <div class="prod-det">
                      <div class="small-6 columns">
                        <p class="tight prod-mrp">MRP &#8377;85</p>
                      </div>
                      <div class="small-6 columns">
                        <p class="tight prod-our-price text-right">
                          &#8377;80 
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="quantity-wrapper">
                      <div class="small-12 columns">
                        <div class="row collapse">
                          <div class="small-3 columns">
                            <label class="prefix">Qty</label>
                          </div>
                          <div class="small-9 columns">
                            <select name="" id="">
                              <option value="">.5 kg</option>
                              <option value="">1 kg</option>
                              <option value="">5 kg</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="small-12 columns">
                        <div class="row collapse qty-price-wrapper">
                          <div class="small-7 columns">
                            <p class="tight qty-price"><span class="price-num">&#8377;8,0000</span></p>
                          </div>
                          <div class="small-5 columns">
                            <p class="text-right tight">
                              <button class="button success tiny">Add <i class="fi-shopping-cart"></i></button>
                            </p>
                          </div>
                        </div>
                      </div>
                  </div>
                  </div>
                </div>
              </div>
              <div class="small-3 columns">
                <div class="product-wrapper">
                  <div class="row">
                    <div class="prod-image-wrapper">
                      <img src="images/products/broccoli.jpg" alt="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="prod-title">
                        <p class="tight title">Product 01</p>
                        <p class="micro tight">this is a description</p>
                    </div> 
                    <div class="prod-det">
                      <div class="small-6 columns">
                        <p class="tight prod-mrp">MRP &#8377;85</p>
                      </div>
                      <div class="small-6 columns">
                        <p class="tight prod-our-price text-right">
                          &#8377;80 
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="quantity-wrapper">
                      <div class="small-12 columns">
                        <div class="row collapse">
                          <div class="small-3 columns">
                            <label class="prefix">Qty</label>
                          </div>
                          <div class="small-9 columns">
                            <select name="" id="">
                              <option value="">.5 kg</option>
                              <option value="">1 kg</option>
                              <option value="">5 kg</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="small-12 columns">
                        <div class="row collapse qty-price-wrapper">
                          <div class="small-7 columns">
                            <p class="tight qty-price"><span class="price-num">&#8377;8,0000</span></p>
                          </div>
                          <div class="small-5 columns">
                            <p class="text-right tight">
                              <button class="button success tiny">Add <i class="fi-shopping-cart"></i></button>
                            </p>
                          </div>
                        </div>
                      </div>
                  </div>
                  </div>
                </div>
              </div>
              <div class="small-3 columns">
                <div class="product-wrapper">
                  <div class="row">
                    <div class="prod-image-wrapper">
                      <img src="images/products/apples.jpg" alt="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="prod-title">
                        <p class="tight title">Product 01</p>
                        <p class="micro tight">this is a description</p>
                    </div> 
                    <div class="prod-det">
                      <div class="small-6 columns">
                        <p class="tight prod-mrp">MRP &#8377;85</p>
                      </div>
                      <div class="small-6 columns">
                        <p class="tight prod-our-price text-right">
                          &#8377;80 
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="quantity-wrapper">
                      <div class="small-12 columns">
                        <div class="row collapse">
                          <div class="small-3 columns">
                            <label class="prefix">Qty</label>
                          </div>
                          <div class="small-9 columns">
                            <select name="" id="">
                              <option value="">.5 kg</option>
                              <option value="">1 kg</option>
                              <option value="">5 kg</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="small-12 columns">
                        <div class="row collapse qty-price-wrapper">
                          <div class="small-7 columns">
                            <p class="tight qty-price"><span class="price-num">&#8377;8,0000</span></p>
                          </div>
                          <div class="small-5 columns">
                            <p class="text-right tight">
                              <button class="button success tiny">Add <i class="fi-shopping-cart"></i></button>
                            </p>
                          </div>
                        </div>
                      </div>
                  </div>
                  </div>
                </div>
              </div>
              <div class="small-3 columns">
                <div class="product-wrapper">
                  <div class="row">
                    <div class="prod-image-wrapper">
                      <img src="images/products/chilli.jpg" alt="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="prod-title">
                        <p class="tight title">Product 01</p>
                        <p class="micro tight">this is a description</p>
                    </div> 
                    <div class="prod-det">
                      <div class="small-6 columns">
                        <p class="tight prod-mrp">MRP &#8377;85</p>
                      </div>
                      <div class="small-6 columns">
                        <p class="tight prod-our-price text-right">
                          &#8377;80 
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="quantity-wrapper">
                      <div class="small-12 columns">
                        <div class="row collapse">
                          <div class="small-3 columns">
                            <label class="prefix">Qty</label>
                          </div>
                          <div class="small-9 columns">
                            <select name="" id="">
                              <option value="">.5 kg</option>
                              <option value="">1 kg</option>
                              <option value="">5 kg</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="small-12 columns">
                        <div class="row collapse qty-price-wrapper">
                          <div class="small-7 columns">
                            <p class="tight qty-price"><span class="price-num">&#8377;8,0000</span></p>
                          </div>
                          <div class="small-5 columns">
                            <p class="text-right tight">
                              <button class="button success tiny">Add <i class="fi-shopping-cart"></i></button>
                            </p>
                          </div>
                        </div>
                      </div>
                  </div>
                  </div>
                </div>
              </div>
              <div class="small-3 columns">
                <div class="product-wrapper">
                  <div class="row">
                    <div class="prod-image-wrapper">
                      <img src="images/products/tomato.jpg" alt="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="prod-title">
                        <p class="tight title">Product 01</p>
                        <p class="micro tight">this is a description</p>
                    </div> 
                    <div class="prod-det">
                      <div class="small-6 columns">
                        <p class="tight prod-mrp">MRP &#8377;85</p>
                      </div>
                      <div class="small-6 columns">
                        <p class="tight prod-our-price text-right">
                          &#8377;80 
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="quantity-wrapper">
                      <div class="small-12 columns">
                        <div class="row collapse">
                          <div class="small-3 columns">
                            <label class="prefix">Qty</label>
                          </div>
                          <div class="small-9 columns">
                            <select name="" id="">
                              <option value="">.5 kg</option>
                              <option value="">1 kg</option>
                              <option value="">5 kg</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="small-12 columns">
                        <div class="row collapse qty-price-wrapper">
                          <div class="small-7 columns">
                            <p class="tight qty-price"><span class="price-num">&#8377;8,0000</span></p>
                          </div>
                          <div class="small-5 columns">
                            <p class="text-right tight">
                              <button class="button success tiny">Add <i class="fi-shopping-cart"></i></button>
                            </p>
                          </div>
                        </div>
                      </div>
                  </div>
                  </div>
                </div>
              </div>
              <div class="small-3 columns">
                <div class="product-wrapper">
                  <div class="row">
                    <div class="prod-image-wrapper">
                      <img src="images/products/broccoli.jpg" alt="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="prod-title">
                        <p class="tight title">Product 01</p>
                        <p class="micro tight">this is a description</p>
                    </div> 
                    <div class="prod-det">
                      <div class="small-6 columns">
                        <p class="tight prod-mrp">MRP &#8377;85</p>
                      </div>
                      <div class="small-6 columns">
                        <p class="tight prod-our-price text-right">
                          &#8377;80 
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="quantity-wrapper">
                      <div class="small-12 columns">
                        <div class="row collapse">
                          <div class="small-3 columns">
                            <label class="prefix">Qty</label>
                          </div>
                          <div class="small-9 columns">
                            <select name="" id="">
                              <option value="">.5 kg</option>
                              <option value="">1 kg</option>
                              <option value="">5 kg</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="small-12 columns">
                        <div class="row collapse qty-price-wrapper">
                          <div class="small-7 columns">
                            <p class="tight qty-price"><span class="price-num">&#8377;8,0000</span></p>
                          </div>
                          <div class="small-5 columns">
                            <p class="text-right tight">
                              <button class="button success tiny">Add <i class="fi-shopping-cart"></i></button>
                            </p>
                          </div>
                        </div>
                      </div>
                  </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="full-width weekly-offers">
      <div class="row caro-title collapse">
        <div class="small-12 columns">
          <h4 class="tight"><span class="inner-text">Weekly Offers</span></h4>
        </div>
      </div>
      <div class="row caro-wrapper collapse">

          <div class="small-3 columns">
            <div class="caro-prod">
              <div class="row add-to-wrapper">
                <div class="small-6 columns">
                  <p class="text-center add-to-cart tight"><button class="button warning">Add to Cart</button></p>
                </div>
                <div class="small-6 columns">
                  <p class="text-center buy-now"><button class="button success">Buy Now</button></p>
                </div>
              </div>
              <div class="img-wrapper prod-img">
                <p class="tight text-center">
                  <img src="images/fruits.jpg" alt="product-image">
                </p>
              </div>
              
              <p class="prod-title text-center tight">
                Product1
              </p>
              <p class="text-center tight prod-desc">
                This is desc
              </p>
              <div class="prod-det">
                <div class="row">
                  <div class="small-6 columns">
                    <p class="prod-price tight">&#8377; 20</p>
                  </div>
                  <div class="small-6 columns prod-rating">
                    <p class="text-right tight">
                      <i class="fi-star"></i>
                      <i class="fi-star"></i>
                      <i class="fi-star"></i>
                      <i class="fi-star"></i>
                      <i class="fi-star"></i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="small-3 columns">
            <div class="caro-prod">
              <div class="row add-to-wrapper">
                <div class="small-6 columns">
                  <p class="text-center add-to-cart tight"><button class="button warning">Add to Cart</button></p>
                </div>
                <div class="small-6 columns">
                  <p class="text-center buy-now"><button class="button success">Buy Now</button></p>
                </div>
              </div>
              <div class="img-wrapper prod-img">
                <p class="tight text-center">
                  <img src="images/grocery.png" alt="product-image">
                </p>
              </div>
              
              <p class="prod-title text-center tight">
                Product2
              </p>
              <p class="text-center tight prod-desc">
                This is desc
              </p>
              <div class="prod-det">
                <div class="row">
                  <div class="small-6 columns">
                    <p class="prod-price tight">&#8377; 20</p>
                  </div>
                  <div class="small-6 columns prod-rating">
                    <p class="text-right tight">
                      <i class="fi-star"></i>
                      <i class="fi-star"></i>
                      <i class="fi-star"></i>
                      <i class="fi-star"></i>
                      <i class="fi-star"></i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="small-3 columns">
            <div class="caro-prod">
              <div class="row add-to-wrapper">
                <div class="small-6 columns">
                  <p class="text-center add-to-cart tight"><button class="button warning">Add to Cart</button></p>
                </div>
                <div class="small-6 columns">
                  <p class="text-center buy-now"><button class="button success">Buy Now</button></p>
                </div>
              </div>
              <div class="img-wrapper prod-img">
                <p class="tight text-center">
                  <img src="images/fruits.jpg" alt="product-image">
                </p>
              </div>
              
              <p class="prod-title text-center tight">
                Product1
              </p>
              <p class="text-center tight prod-desc">
                This is desc
              </p>
              <div class="prod-det">
                <div class="row">
                  <div class="small-6 columns">
                    <p class="prod-price tight">&#8377; 20</p>
                  </div>
                  <div class="small-6 columns prod-rating">
                    <p class="text-right tight">
                      <i class="fi-star"></i>
                      <i class="fi-star"></i>
                      <i class="fi-star"></i>
                      <i class="fi-star"></i>
                      <i class="fi-star"></i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="small-3 columns">
            <div class="caro-prod">
              <div class="row add-to-wrapper">
                <div class="small-6 columns">
                  <p class="text-center add-to-cart tight"><button class="button primary">Add to Cart</button></p>
                </div>
                <div class="small-6 columns">
                  <p class="text-center buy-now"><button class="button success">Buy Now</button></p>
                </div>
              </div>
              <div class="img-wrapper prod-img">
                <p class="tight text-center">
                  <img src="images/grocery.png" alt="product-image">
                </p>
              </div>
              
              <p class="prod-title text-center tight">
                Product2
              </p>
              <p class="text-center tight prod-desc">
                This is desc
              </p>
              <div class="prod-det">
                <div class="row">
                  <div class="small-6 columns">
                    <p class="prod-price tight">&#8377; 20</p>
                  </div>
                  <div class="small-6 columns prod-rating">
                    <p class="text-right tight">
                      <i class="fi-star"></i>
                      <i class="fi-star"></i>
                      <i class="fi-star"></i>
                      <i class="fi-star"></i>
                      <i class="fi-star"></i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
      </div>
    </div> 
    <div class="full-width footer-top">
      <div class="row">
        <div class="small-4 columns">
          
          <div class="row left-section">
           <div class="small-12 columns">
              <h4 class="section-title tight">Recently Viewed</h4>
             <div class="recent-slider">
               <div class="recent-slide">
                 <div class="img-wrapper">
                   <img src="images/products/apples.jpg" alt="">
                 </div>
                 <p class="side-offer-product tight text-center">Apples <span class="label round alert off">10% Off</span><br><span class="side-offer-price">&#8377;100</span></p>
               </div>
               <div class="recent-slide">
                 <div class="img-wrapper">
                   <img src="images/products/eggs.jpg" alt="">
                 </div>
                 <p class="side-offer-product tight text-center">Eggs <span class="label round alert off">15% Off</span><br><span class="side-offer-price">&#8377;80</span></p>
               </div>
               <div class="recent-slide">
                 <div class="img-wrapper">
                   <img src="images/products/broccoli.jpg" alt="">
                 </div>
                 <p class="side-offer-product tight text-center">Broccoli <span class="label round alert off">10% Off</span><br><span class="side-offer-price">&#8377;75</span></p>
               </div>
               <div class="recent-slide">
                 <div class="img-wrapper">
                   <img src="images/products/chilli.jpg" alt="">
                 </div>
                 <p class="side-offer-product tight text-center">Chilli <span class="label round alert off">10% Off</span><br><span class="side-offer-price">&#8377;20</span></p>
               </div>
               <div class="recent-slide">
                 <div class="img-wrapper">
                   <img src="images/products/apples.jpg" alt="">
                 </div>
                 <p class="side-offer-product tight text-center">Apples <span class="label round alert off">10% Off</span><br><span class="side-offer-price">&#8377;100</span></p>
               </div>
               <div class="recent-slide">
                 <div class="img-wrapper">
                   <img src="images/products/eggs.jpg" alt="">
                 </div>
                 <p class="side-offer-product tight text-center">Eggs <span class="label round alert off">15% Off</span><br><span class="side-offer-price">&#8377;80</span></p>
               </div>
               <div class="recent-slide">
                 <div class="img-wrapper">
                   <img src="images/products/broccoli.jpg" alt="">
                 </div>
                 <p class="side-offer-product tight text-center">Broccoli <span class="label round alert off">10% Off</span><br><span class="side-offer-price">&#8377;75</span></p>
               </div>
               <div class="recent-slide">
                 <div class="img-wrapper">
                   <img src="images/products/chilli.jpg" alt="">
                 </div>
                 <p class="side-offer-product tight text-center">Chilli <span class="label round alert off">10% Off</span><br><span class="side-offer-price">&#8377;20</span></p>
               </div>
             </div>
           </div>
          </div>
        </div>
        <div class="small-4 columns">
          <div class="row middle-section">
            <div class="small-12 columns">
              <h4 class="section-title tight">
                Success Recipies
              </h4>
              <div class="section-body">
                <p class="tight text-center">Ever wanted to be a cooking maestro</p>
                <h4 class="text-center">Read Success Recipes <br> and Stories</h4>
              </div>
            </div>

            
          </div>
        </div>
        <div class="small-4 columns">
          
          <div class="row right-section">
           <div class="small-12 columns">
              <h4 class="section-title tight">Hot Selling</h4>
             <div class="recent-slider">
               <div class="recent-slide">
                 <div class="img-wrapper">
                   <img src="images/products/apples.jpg" alt="">
                 </div>
                 <p class="side-offer-product tight text-center">Apples <span class="label round alert off">10% Off</span><br><span class="side-offer-price">&#8377;100</span></p>
               </div>
               <div class="recent-slide">
                 <div class="img-wrapper">
                   <img src="images/products/eggs.jpg" alt="">
                 </div>
                 <p class="side-offer-product tight text-center">Eggs <span class="label round alert off">15% Off</span><br><span class="side-offer-price">&#8377;80</span></p>
               </div>
               <div class="recent-slide">
                 <div class="img-wrapper">
                   <img src="images/products/broccoli.jpg" alt="">
                 </div>
                 <p class="side-offer-product tight text-center">Broccoli <span class="label round alert off">10% Off</span><br><span class="side-offer-price">&#8377;75</span></p>
               </div>
               <div class="recent-slide">
                 <div class="img-wrapper">
                   <img src="images/products/chilli.jpg" alt="">
                 </div>
                 <p class="side-offer-product tight text-center">Chilli <span class="label round alert off">10% Off</span><br><span class="side-offer-price">&#8377;20</span></p>
               </div>
               <div class="recent-slide">
                 <div class="img-wrapper">
                   <img src="images/products/apples.jpg" alt="">
                 </div>
                 <p class="side-offer-product tight text-center">Apples <span class="label round alert off">10% Off</span><br><span class="side-offer-price">&#8377;100</span></p>
               </div>
               <div class="recent-slide">
                 <div class="img-wrapper">
                   <img src="images/products/eggs.jpg" alt="">
                 </div>
                 <p class="side-offer-product tight text-center">Eggs <span class="label round alert off">15% Off</span><br><span class="side-offer-price">&#8377;80</span></p>
               </div>
               <div class="recent-slide">
                 <div class="img-wrapper">
                   <img src="images/products/broccoli.jpg" alt="">
                 </div>
                 <p class="side-offer-product tight text-center">Broccoli <span class="label round alert off">10% Off</span><br><span class="side-offer-price">&#8377;75</span></p>
               </div>
               <div class="recent-slide">
                 <div class="img-wrapper">
                   <img src="images/products/chilli.jpg" alt="">
                 </div>
                 <p class="side-offer-product tight text-center">Chilli <span class="label round alert off">10% Off</span><br><span class="side-offer-price">&#8377;20</span></p>
               </div>
             </div>
           </div>
          </div>
        </div>
      </div>
    </div> 
    <div class="full-width footer-middle">
      <div class="row">
        <div class="small-3 columns">
          <div class="row social-footer">
            <h5 class="tight">Stay With Us Everywhere</h5>
            <ul>
              <li><a href=""><i class="fi-social-facebook"></i></a></li>
              <li><a href=""><i class="fi-social-google-plus"></i></a></li>
              <li><a href=""><i class="fi-social-twitter"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="small-6 columns">
         <div class="security-footer">
            <div class="payment">
              <h5 class="tight">
                Payment Options
              </h5>
              <p class="">We provide flexible way of purchasing. Which includes<br>
                <span class="payment-options">Online Banking | Debit Card | Credit Card | Digital Wallets</span>
              </p>
            </div>
            <div class="row privacy">
              <div class="small-2 columns">
                <div class="img-wrapper footer-logo">
                  <img src="images/logo.png" alt="">
                </div>
              </div>
              <div class="small-5 end columns">
                <p class="tight micro">
                 <a href="">Policies |</a>
                 <a href="">Terms & Conditions |</a>
                 <a href="">Privacy</a>
                 </p>
                 <p class="tight micro">
                   © 2015 Trolleyin. All Rights Reserved.
                 </p>
              </div>
            </div>
         </div>
        </div>
        <div class="small-3 columns">
          <div class="mobileapp-footer">
            <h5 class="tight">
              Try our mobile application
            </h5>
            <p class="tight">Shop on the fly</p>
            <ul>
              
              <li class="and"><a href=""><img src="images/android.png" alt=""></a></li>
              <li class="ios"><a href=""><img src="images/ios.png" alt=""></a></li>
              <li class="mic"><a href=""><img src="images/microsoft.png" alt=""></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="full-width footer-bottom">
      <div class="row">
        <div class="small-8 columns"></div>
        <div class="small-4 columns"></div>
      </div>
    </div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="bower_components/slider-pro/dist/js/jquery.sliderPro.min.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.js"></script>
    <script src="bower_components/velocity/velocity.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/trolleyin.js"></script>
    <script type="text/javascript">

      jQuery( document ).ready(function( $ ) {
          $( '#tro-slider' ).sliderPro({
            width:700,
            height:310,
            buttons:false,
          });
          $('.offer-slider').slick({
            vertical: false,
            autoplay:true,
            rows:2,

          });
          $('.recent-slider').slick({
            vertical: false,
            autoplay:true,
            rows:2,
            slidesPerRow:2,
          });
      });
    </script>
  </body>
</html>
